<%= form_for(@subscriber) do |f| %>
<% if @subscriber.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>
	<ul>
		<% @subscriber.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<%= f.text_field :name, :placeholder => "Enter subscriber Name" %>
<%= f.text_field :email, :placeholder => "Enter subscriber Email" %>
<%= f.submit "Add Subscriber" %>
<% end %>