<div class="page-header">
	<h1>Subscribers List <small> Your App upcoming users</small></h1>
</div>
<table class="zebra-striped" id="subscribers_list">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Email</th>
		<th> * </th>
	</tr>
	<% @subscribers.each_with_index do |subscriber, index| %>
	<tr>
		<td><%= index + 1 %></td>
		<td><%= subscriber.name %></td>
		<td><%= subscriber.email %></td>
		<td><%= link_to 'Show', admin_subscriber_path(subscriber) %> |
		<%= link_to 'Edit', edit_admin_subscriber_path(subscriber) %> |
		<%= link_to 'Delete', subscriber, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
	<% end %>
</table>
<br />
<%= link_to 'New Subscriber', new_admin_subscriber_path %> 