<div class="page-header">
	<h1>New Subscriber</h1>
</div>
<div id="subscriber">
	<%= form_for @subscriber, :html => { :class => "form-horizontal" } do |f| %>
	<% if @subscriber.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>
		<ul>
			<% @subscriber.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<fieldset>
		<legend>
			Subscriber Inputs
		</legend>
		<div class="control-group">
			<%= f.label :name, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :name, :class => 'input-xlarge', :placeholder => "Enter subscriber Name" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :email, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :email, :class => 'input-xlarge', :placeholder => "Enter subscriber Email" %>
			</div>
		</div>
		<div class="form-actions">
			<%= f.submit "Add Subscriber", :class => 'btn' %>&nbsp;
			<%= link_to 'Cancel', admin_subscribers_path, :class => 'btn' %>
		</div>
	</fieldset>
	<% end %>
</div>